// see https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
// see http://fxexperience.com/2011/12/styling-fx-buttons-with-css/


#calculator {
	-fx-background-color: grey;
}

#calculator .dark {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));

    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;

}

#calculator .blue {
                      -fx-background-color:
                          #000000,
                          linear-gradient(#7ebcea, #2f4b8f),
                          linear-gradient(#426ab7, #263e75),
                          linear-gradient(#395cab, #223768);

                      -fx-text-fill: white;
                      -fx-font-size: 16px;
                      -fx-font-weight: bold;
                  }

#calculator .space {
                      -fx-background-color:
                          #707070,
                          linear-gradient(#fcfcfc, #f3f3f3),
                          linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);

                      -fx-text-fill: black;
                      -fx-font-size: 12px;
                  }